@use 'variables';
@use 'hero';

@font-face {
    font-family: Avenir;
    src: url(/src/fonts/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(/src/fonts/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: variables.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$corTextoSecundario
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variables.$corTextoSecundario;
    text-decoration: underline;
}
.title--big {
    @include title(44px)
}

.title {
    @include title;
}

.title--small {
    @include title(28px)
}